@model WebApplication6.Managers.Groups.CreateOrUpdateGroupRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddGroup</title>
</head>
<body>
    @using (Html.BeginForm("Add", "Group", FormMethod.Post))
    {
        <label>Номер группы: </label>
        <input id="Name" type="text" name="Name" /><br /><br />

        <label>Направление: </label>
        <input id="DepartmentNumber" type="text" name="DepartmentNumber" /><br /><br />

        <input type="submit" value="Добавить новую группу" />
    }

    <div>
        @Html.ActionLink("Вернуться на страницу вывода групп", "ShowGroups", "Group")
    </div>
</body>
</html>